.footer {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: white;
}

.SubSection {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.SectionTitle {
    font-family: 'Span';
    font-size: 18px;
}

.content {
    height: 1.5em;
    max-height: 30px;
    width: 10em;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin: 0 -3rem; */
}
        

.element svg {
    transition: all 0.15s ease-in-out;
    transform-origin: bottom;
}

 .element:hover  svg {
    transform: scale(1.10);
}